<%- include('../partials/header') %>
<div>
    <h1><%= title %></h1>
    <a class="btn btn-success" href="/albums/new">ADD AN ALBUM</a>
</div>
<div>
    <% albums.forEach(function(a) { %>
        <a class="albumInfo" href="/albums/<%= a._id %>"><img src="<%= a.albumDetails[0].image[2]['#text'] %>" title="<%= a.albumDetails[0].artist %> : <%= a.albumDetails[0].name %>"></a>
    <% }); %>
</div>

<%- include('../partials/footer') %>

