<%- include('../partials/header') %>

<h1><%= title %></h1>

  <form action="/albums/query" method="POST">
      Artist:
      <input type="text" name="artistName"><br>
      Album :
      <input type="text" name="query"><br><br>
      <button class="btn btn-success" type="submit">Search</button>
  </form>
  <hr>

  <% if(albums){ %>
    <% albums.forEach((album) => { %>
      <% if (album.artist.toLowerCase().includes(artistName.toLowerCase()) && album.mbid) { %>
        
        <form action="/albums" method="POST">
          <div class="displayAlbumInfo">
            <input type="hidden" name="mbid" value="<%= album.mbid %>">
            <input class="btn btn-success" type="submit" value="Add Album">
            <img src="<%= album.image[0]['#text'] %>"><h4><%= album.name %> - <%= album.artist %></h4>
          </div>
        </form><br>

     <% } %>
    <% })%>
  <% } else {%>
    <h4>There are no results matching your search criteria</h4><br>
  <% } %>

<%- include('../partials/footer') %>
