<%- include('../partials/header') %>
<h1><%= title %></h1>
<hr>
<div class="infoBlock coverImage"><img src="<%= album.coverImageUrl %>"></div>
<div class="infoBlock albumInfo">
    <div>Band: <%= album.bandName %></div>
    <div>Album: <%= album.albumName %></div>
    <div>Release Year: <%= album.releaseYear %></div>
    <div>< SongName ></div>
    <div>< SongName ></SongName></div>
    <div>< SongName ></div>
</div>
<form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Remove Album</button>
</form><br>
<form method="POST" action="/albums/<%= album._id %>/comments">
  <textarea name="content"></textarea><br>
  <input type="submit" value="Add Comment">
</form><br>
<div>
<% if (album.comments.length) { %>
  <h4>Comments:</h4>
      <% album.comments.forEach(function(c) { %>
        <div class="commentText">
          <%= c.content %>
          <span class="commentInfo"> at <%= c.createdAt.toLocaleDateString() %> by <em><%= c.user %></em></span>
        </div>
      <% }); %>
<% } else { %>
  <h5>Be The First To Comment</h5>
<% } %>
</div>
<br><a class="btn btn-info" href="/albums">BACK TO ALBUMS</a>
<%- include('../partials/footer') %>