<%- include('../partials/header') %>
<h1><%= title %></h1>
<hr>
<div>
  <h2><%= album.albumDetails[0].artist %> : <%= album.albumDetails[0].name %></h2>
</div>
<div class="albumDetailLayout">
  <div class="infoBlock coverImage ">
    <img src="<%= album.albumDetails[0].image[3]['#text'] %>">
  </div>
  <div class="infoBlock albumInfo ">
      <div>Tracks:
        <ol class="trackListing">  
        <% album.albumDetails[0].tracks.track.forEach(t => { %>
          <% const minutes = Math.floor(t.duration / 60); %>
          <% const seconds = t.duration % 60; %>
          <li><%= t.name %> ~ <%= minutes %>:<%= seconds.toString().padStart(2, '0') %></li>
        <% }) %> 
        </ol>
      </div>
  </div>
  <br>
</div><br>
<div><h4>Info:</h4><br>
  <% if (album.albumDetails[0].wiki) { %>
    <%= album.albumDetails[0].wiki.summary.split('<a')[0] %>
  <% } %> 
</div><br>

<form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Remove Album</button>
</form><br>
<form method="POST" action="/albums/<%= album._id %>/comments">
  <textarea name="content"></textarea><br>
  <input type="submit" value="Add Comment">
</form><br>
<div>
<% if (album.comments.length) { %>
  <h4>Comments:</h4>
      <% album.comments.forEach(function(c) { %>
        <div>
          <%= c.content %>
          <span class="commentInfo"> at <%= c.createdAt.toLocaleDateString() %> by <em><%= c.user %></em></span>
        </div>
      <% }); %>
<% } else { %>
  <h5>Be The First To Comment</h5>
<% } %>
</div>
<br>
<%- include('../partials/footer') %>